/* src/components/Home.css */

.home-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.books-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 2.5em;
  color: #333;
}

.addbook-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  display: inline-block;
}

.addbook-button:hover {
  background-color: #0056b3;
}

.book-card {
  width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.book-cover {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.book-details {
  margin-top: 10px;
}

.book-title {
  font-size: 1.2em;
  color: #333;
}

.book-author {
  font-size: 1em;
  color: #777;
}

.book-description {
  font-size: 0.9em;
  color: #555;
}
